<% include ./static/header %>
<% include ./static/sidebar %>
<% include ./static/navbar %>


<div class="col-md-6 col-lg-10-2">
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="box-header with-border">
                <br>
            <h3 class="box-title">Acceso</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form action="/alta_escalamiento2" method="POST">
            <div class="box-body">

                <div class="form-group">
                    <label for="Titulo">Gaffete:</label>
                    <select class="form-control" name="gaffete" id="gaffete">

                        <% for (var i = 0; i < data.length; i++) { %>
                        <% if (data[i].emp_correo != 'NULL') { %>
                        <option><%= data[i].emp_id %></option>
                        <% } %>
                        <% } %>
                    </select>
                </div>

                <div class="form-group">
                    <label for="Titulo">Acceso:</label>
                    <select class="form-control" name="acceso" id="acceso" required>
                        <option>Entrada/Salida</option>
                        <option>Admin</option>

                    </select>
                </div>

                <div class="box-footer mt-4">
                    <button id="accesoButton" type="submit" class="btn btn-primary"
                        onclick="$('form').attr('action', '/guardar_acceso');">Guardar</button>
                </div>
        </form>
    </div>
</div>
</div>
<!-- /.box -->

<!-- /.box ------------------------------------------------------>

<div class="col-md-10 col-lg-10-2 col-xl-11">
    <div class="box-header">
        <h4 class="box-title mt-5">Accesos Actuales</h4>
    </div>


    <!-- /.box-header -->
    <div class="table table-responsive mb-3" id="table">
        <table id="myTable2" class="table table-bordered table-striped">
            <thead class="thead-dark">
                <th>Eliminar</th>
                <th>Gaffete</th>
                <th>Nombre</th>
                <th>Acceso</th>

            </thead>

            <tbody>

                <%if(data2) { %>
                <% for (var i = 0; i < data2.length; i++) { %>
                <tr class="table_roww">

                    <td class="text-center " width='10%'>
                        <form method="POST">
                            <button name="correo" type="submit" formaction="/delete_acceso"
                                class="btn btn-danger text-center">Eliminar</button>
                            <input type="text" name="gaffete2" value="<%=data2[i].acc_id%>" hidden>
                        </form>
                    </td>

                    <td width='10%'><%= data2[i].acc_id%></td>

                    <% for (var y = 0; y < data3.length; y++) { %>
                        <% if (data3[y].emp_id == data2[i].acc_id) { %>
                            <td width='30%'><%= data3[y].emp_nombre%></td>
                        <% } %>
                        <% } %>
                    


                    <%if(data2[i].acc_mandriles==1) {%>
                    <td>Entrada/Salida</td>
                    <%}%>

                    <%if(data2[i].acc_mandriles==2) {%>
                    <td>Admin</td>
                    <%}%>
                        <%if(data2[i].acc_mandriles==3) {%>
                    <td>Admin</td>
                    <%}%>

                </tr>
                <% } %>
                    <% } %>
            </tbody>
        </table>

        <% include ./static/footer %>
    </div>
    <!-- /.box ------------------------------------------------------>

    </body>

    </html>


    <script>

        $('#myTable2').dataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],

            "pageLength": 7,
            "ordering": true,
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": false,
            "bAutoWidth": false,
            responsive: true,
            rowGroup: {
                dataSrc: 'group'
            },
            rowReorder: true,
            select: true,
            autoFill: true


        });
    </script>