<% include ./static/header %>
<% include ./static/sidebar %>
<% include ./static/navbar %>

<div class="col-md-6 col-lg-10-2">
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <br>
            <h3 class="box-title">Movimiento Cedula</h3>
            <br>
        </div>
        <div class="alert alert-success text-center mt-1" id='success-alert' role="alert" hidden>
            <span>Movimiento Guardado</span>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form action="/andon_guardad" method="POST">
            <div class="box-body">

                <!------->
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="Titulo">Autorizado Por:</label>
                        <input type="text" class="form-control" id="aut_empleado" value="<%= data4 %> - <%= data6 %>"
                            name="aut_empleado" readonly>
                    </div>

                    <div class="form-group col-lg-6">
                        <label for="Titulo" id="lblaccion">Accion:</label>
                        <select class="form-control" name="accion" id="accion">
                            <option value="" selected>Seleccionar</option>
                            <option value="entrada">Entrada</option>
                            <option value="salida">Salida</option>


                        </select>
                    </div>


                </div>

                <br>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <input type="file" id="fileUploader" name="fileUploader" accept=".xls, .xlsx" required />
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-6">

                        </label> <label id="msg"> </label>


                    </div>
                </div>


                <!------->
                <div class="row">


                </div>
                <div class="form-group">
                    <label for="Descripcion">Comentario:</label>
                    <textarea type="text" class="form-control " rows="3" name="comentario"></textarea>
                </div>

                <div class="box-footer ">
                    <button id="btnguardar" type="submit" class="btn btn-primary col-lg-12"
                        onclick="$('form').attr('action', '/guardar_movimiento_cedula');">Guardar</button>
                </div>


                <div class="form-group col-lg-6">
                    <input type="text" class="form-control" id="mandriles" name="mandriles" value="" hidden>
                </div>

                <table id="tableexcel" class="table table-bordered table-striped">
                    <thead class="thead-dark">

                        <th><span class="icoSidebar fas fa-hashtag"></span>mandril</th>
                        <th><span class="icoSidebar fas fa-info"></span>cantidad</th>
                        <th><span class="icoSidebar fas fa-info"></span>status</th>

                    </thead>

                    <tbody id="excelmandriles">

                    </tbody>
                </table>


        </form>
    </div>
    <!-- /.box -->

    <% include ./static/footer %>
</div>
</body>

</html>

<script>



    $(document).ready(function () {

        $( "#fileUploader" ).click(function() {
            $('#tableexcel tbody').empty();
            $('#mandriles').val("")
        });


        $("#fileUploader").change(function (evt) {

            $('#tableexcel tbody').empty();
            $('#mandriles').val("")


            if ($('#accion').val() != "") {
                $('#btnguardar').prop('disabled', false);

                var selectedFile = evt.target.files[0];
                var reader = new FileReader();
                reader.onload = function (event) {
                    var data = event.target.result;
                    var workbook = XLSX.read(data, {
                        type: 'binary'
                    });
                    workbook.SheetNames.forEach(function (sheetName) {

                        var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
                        var json_object = JSON.stringify(XL_row_object);
                        x = XL_row_object
                        for (let i = 0; i < x.length; i++) {

                            if (x[i].mandril == undefined || x[i].cantidad == undefined) {
                                $('#btnguardar').prop('disabled', true);
                                msg.innerHTML = 'Formato de Archivo Incorrecto / Incompleto';
                                msg.classList.add('text-danger');

                                $('#lblexcel').prop('hidden', false);
                                $('#imgexcel').prop('hidden', false);

                                $('#tableexcel tbody').empty();
                            } else {


                                if ($('#accion').val() == "entrada") {
                                    ////////////////AJAX ENTRADA
                                    let xhr = new XMLHttpRequest();
                                    xhr.open('GET', `/consulta_mandril_stock_entrada/${x[i].mandril}`, true);
                                    xhr.onload = function () {
                                        if (this.status == 200) {
                                            info = JSON.parse(this.responseText)

                                            if (info != "") {


                                                if (x[i].cantidad <= info[0].mandril_total) {

                                                    $('#tableexcel > tbody:last-child').append(
                                                        '<tr>'
                                                        + '<td>' + x[i].mandril + '</td>'
                                                        + '<td>' + x[i].cantidad + '</td>'
                                                        + '<td>' + " OK " + '</td>'
                                                        + '</tr>');

                                                    $('#mandriles').val(json_object);


                                                } else {

                                                    $('#tableexcel > tbody:last-child').append(
                                                        '<tr>'
                                                        + '<td>' + x[i].mandril + '</td>'
                                                        + '<td>' + x[i].cantidad + '</td>'
                                                        + '<td>' + " Cantidad Excedente " + '</td>'
                                                        + '</tr>');

                                                    $('#btnguardar').prop('disabled', true);

                                                }

                                            } else {

                                                $('#tableexcel > tbody:last-child').append(
                                                    '<tr>'
                                                    + '<td>' + x[i].mandril + '</td>'
                                                    + '<td>' + x[i].cantidad + '</td>'
                                                    + '<td>' + " Mandril No Encontrado " + '</td>'
                                                    + '</tr>');

                                                $('#btnguardar').prop('disabled', true);
                                            }


                                        }

                                    }
                                    xhr.onerror = function () {
                                        console.log('Request Error...');
                                    }

                                    xhr.send();
                                    /////////////////
                                } else {

                                   

                                    ////////////////AJAX SALIDA
                                    let xhr = new XMLHttpRequest();
                                    xhr.open('GET', `/consulta_mandril_stock_salida/${x[i].mandril}`, true);
                                    xhr.onload = function () {
                                        if (this.status == 200) {
                                            info = JSON.parse(this.responseText)


                                            if (info != "") {


                                                if (x[i].cantidad <= info[0].mandril_total) {

                                                    $('#tableexcel > tbody:last-child').append(
                                                        '<tr>'
                                                        + '<td>' + x[i].mandril + '</td>'
                                                        + '<td>' + x[i].cantidad + '</td>'
                                                        + '<td>' + " OK " + '</td>'
                                                        + '</tr>');

                                                    $('#mandriles').val(json_object);


                                                } else {

                                                    $('#tableexcel > tbody:last-child').append(
                                                        '<tr>'
                                                        + '<td>' + x[i].mandril + '</td>'
                                                        + '<td>' + x[i].cantidad + '</td>'
                                                        + '<td>' + " Cantidad Excedente " + '</td>'
                                                        + '</tr>');

                                                    $('#btnguardar').prop('disabled', true);

                                                }

                                            } else {

                                                $('#tableexcel > tbody:last-child').append(
                                                    '<tr>'
                                                    + '<td>' + x[i].mandril + '</td>'
                                                    + '<td>' + x[i].cantidad + '</td>'
                                                    + '<td>' + " Mandril No Encontrado " + '</td>'
                                                    + '</tr>');

                                                $('#btnguardar').prop('disabled', true);
                                            }


                                        }

                                    }
                                    xhr.onerror = function () {
                                        console.log('Request Error...');
                                    }

                                    xhr.send();
                                    /////////////////








                                }


                                // $('#btnguardar').prop('disabled', false);
                                // msg.innerHTML = ''
                                // $('#lblexcel').prop('hidden', true);
                                // $('#imgexcel').prop('hidden', true);

                                // $('#mandriles').val(json_object);



                            }

                        }

                    })


                };
                reader.onerror = function (event) {
                    console.error("File could not be read! Code " + event.target.error.code);
                };
                reader.readAsBinaryString(selectedFile);


            }else{
                $('#accion').focus();
                $('#btnguardar').prop('disabled', true);

            }
        });
    });





    $('form').submit(function() {
  $(this).find("button[type='submit']").prop('disabled',true);
});





// $(document).ready(function () {


// $("#fileUploader").change(function (evt) {
//     var selectedFile = evt.target.files[0];
//     var reader = new FileReader();
//     reader.onload = function (event) {
//         var data = event.target.result;
//         var workbook = XLSX.read(data, {
//             type: 'binary'
//         });
//         workbook.SheetNames.forEach(function (sheetName) {

//             var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
//             var json_object = JSON.stringify(XL_row_object);
//             x = XL_row_object
//             for (let i = 0; i < x.length; i++) {

//                 if (x[i].mandril == undefined || x[i].cantidad == undefined) {
//                     $('#btnguardar').prop('disabled', true);
//                     msg.innerHTML = 'Formato de Archivo Incorrecto / Incompleto';
//                     msg.classList.add('text-danger');

//                     $('#lblexcel').prop('hidden', false);
//                     $('#imgexcel').prop('hidden', false);

//                     $('#tableexcel tbody').empty();
//                 } else {
//                     $('#tableexcel > tbody:last-child').append(
//                         '<tr>'
//                         + '<td>' + x[i].mandril + '</td>'
//                         + '<td>' + x[i].cantidad + '</td>'
//                         + '</tr>');
//                     $('#btnguardar').prop('disabled', false);
//                     msg.innerHTML = ''
//                     $('#lblexcel').prop('hidden', true);
//                     $('#imgexcel').prop('hidden', true);

//                     $('#mandriles').val(json_object);
//                 }

//             }

//         })


//     };
//     reader.onerror = function (event) {
//         console.error("File could not be read! Code " + event.target.error.code);
//     };
//     reader.readAsBinaryString(selectedFile);
// });
// });



</script>