<% include ./static/header %>
<% include ./static/sidebar %>
<% include ./static/navbar %>

<div class="col-md-6 col-lg-10-2">
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <br>
            <h3 class="box-title">Modificar Mandril</h3>
        </div>

        <div class="alert alert-success text-center mt-1" id='success-alert' role="alert" hidden>
            <span>Mandril Guardado</span>
        </div>
    
        <!-- /.box-header -->
        <!-- form start -->
        <form action="/guardar_equipo" method="POST">
            <div class="box-body">
                <!------->
                <!-- Date format yyyy-m-d -->
                <%
                     var d = new Date();
                     var mm = d.getMonth() + 1;
                     var dd = d.getDate();
                     var yy = d.getFullYear();
                     var myDateString = yy + '-' + mm + '-' + dd; //(US)
                     %>
                <!------->

                <div class="row">

                    <div class="form-group col-lg-12">
                        <label for="Titulo">Nombre Empleado: </label> <label id="msg"> </label>
                        <input type="text" class="form-control" id="nombreempleado" value="<%=data3%>"
                            name="nombreempleado" onkeyup="this.value = this.value.toUpperCase();" readonly>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="Titulo">ID Mandril: </label> <label id="msg"> </label>
                        <select class="form-control" name="id_mandril" id="id_mandril">
                            <option value="" selected>Seleccionar</option>
                            <% for (var i = 0; i < data.length; i++) { %>
                            <option><%= data[i].mandril_id %></option>
                            <% } %>
                        </select>
                    </div>


                    <div class="form-group col-lg-6" id='divplat'>
                        <label for="Titulo">Plataforma:</label>
                        <select class="form-control" name="plataforma" id="plataforma">
                            <option value="" selected>Seleccionar</option>
                            <% for (var i = 0; i < data2.length; i++) { %>
                            <option><%= data2[i].subarea %></option>
                            <% } %>
                        </select>
                    </div>



                </div>
                <!------->


                <div class="row">


                    <div class="form-group col-lg-6">
                        <label for="Titulo">Numero Parte: </label> <label id="msg"> </label>
                        <input type="text" class="form-control" id="parte" value="" name="parte"
                            onkeyup="this.value = this.value.toUpperCase();" required>
                    </div>

                    <div class="form-group col-lg-6">
                        <label for="Titulo">Ubicacion: </label> <label id="msg"> </label>
                        <input type="text" class="form-control" id="ubicacion" value="" name="ubicacion"
                            onkeyup="this.value = this.value.toUpperCase();" required>
                    </div>


                </div>




                <div class="row">



                    <div class="form-group col-lg-6">
                        <label for="Titulo">Periodo de Mantenimiento (Meses):</label>
                        <select class="form-control" name="periodo" id="periodo" required>
                            <option value="" selected>Seleccionar</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>24</option>
                            <option>36</option>


                        </select>
                    </div>


                </div>



                <!------->


                <div class="box-footer">
                    <button id="btnguardar" type="submit" class="btn btn-primary"
                        onclick="$('form').attr('action', '/guardar_modificacion');">Guardar</button>
                </div>
        </form>
    </div>
    <!-- /.box -->

    <% include ./static/footer %>
</div>
</body>

</html>

<script>


     ////////////////////////////////////////////////////////////////////////////////////////
     $(document).ready(function () {
        nuevo = <%- JSON.stringify(data8) %>;

        if (nuevo == 'true') {
            $('#success-alert').prop("hidden", false);
            $("#success-alert").show()
            setTimeout(function () {
                $("#success-alert").slideUp(1000);
            }, 1000);
        }
    });

    /////////////////////////////////////////////////////////////////////////////////////////



    $('#fecha_verificacion').datepicker({
        format: "yyyy-m-d",
        orientation: "bottom",
        todayHighlight: true
    });





    id_mandril.addEventListener("change", function (e) {
        $('#plataforma').val("")
        $('#parte').val("")
        $('#ubicacion').val("")
        $('#periodo').val("")

        /////////////////AJAX
        let xhr = new XMLHttpRequest();
        xhr.open('GET', `/consulta_mandril/${$('#id_mandril').val()}`, true);
        xhr.onload = function () {
            if (this.status == 200) {
                info = JSON.parse(this.responseText)

                $('#plataforma').val(info[0].mandril_plataforma)
                $('#parte').val(info[0].mandril_parte)
                $('#ubicacion').val(info[0].mandril_ubic)
                $('#periodo').val(info[0].mandril_periodo)



            }

        }
        xhr.onerror = function () {
            console.log('Request Error...');
        }

        xhr.send();
        /////////////////


    });






</script>