<!-- Page Content -->
<div id="page-content-wrapper">

  <nav class="navbar navbar-expand-lg navbar-success bg-success border-bottom">
    <button class="btnNavbar btn btn-success fas fa-bars" id="menu-toggle"></button>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link  nav-link text-dark" href="#" id="userDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small"><i
                class="fas fa-user-cog fa-lg fa-fw mr-2 text-gray-600"></i></span>
          </a>
          <!-- Dropdown - User Information -->
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <!-- <a class="dropdown-item" href="/login/verificacion">
              <i class="fas fa-screwdriver fa-sm fa-fw mr-2 text-gray-400"></i>
              Mantenimiento
            </a> -->
            <a class="dropdown-item" href="/no_disponibles">
              <i class="fas fa-times-circle fa-sm fa-fw mr-2 text-gray-400"></i>
              No Disponibles
            </a>
            <a class="dropdown-item" href="/login/alta_baja">
              <i class="fas fa-plus-circle fa-sm fa-fw mr-2 text-gray-400"></i>
              Alta / Baja
            </a>
            <a class="dropdown-item" href="/login/modificar">
              <i class="fas fa-edit fa-sm fa-fw mr-2 text-gray-400"></i>
              Modificar
            </a>
            <a class="dropdown-item" href="/login/plataforma">
              <i class="fas fa-car fa-sm fa-fw mr-2 text-gray-400"></i>
              Plataformas
            </a>
            <a class="dropdown-item" href="/login/alta_notificar">
              <i class="fas fa-flag fa-sm fa-fw mr-2 text-gray-400"></i>
              Notificaciones
            </a>
            <!-- <a class="dropdown-item" href="/login/bajas">
              <i class="fas fa-minus-circle fa-sm fa-fw mr-2 text-gray-400"></i>
              Bajas
            </a> -->
            <a class="dropdown-item" href="/login/alta_acceso">
              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              Accesos
            </a>
          </div>
        </li>

      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">