<div class="modal fade bd-example-modal-xl" id="modal1" tabindex="-1" role="dialog"
aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-body">

            <iframe  id="PDF" title="PDF" src="/pdf/QD-C4-P00-ME01-AV01.pdf" frameborder="1" scrolling="auto" height="800" width="100%"></iframe>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btnCerrar"
                data-dismiss="modal">Cerrar</button>
        </div>
        <input type="text" class="form-control" name="midplan" id="midplan" aria-describedby="helpId"
            value="" hidden>
        </form>

    </div>
</div>
</div>

<div class="modal fade bd-example-modal-xl" id="modal2" tabindex="-1" role="dialog"
aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-body">

            <iframe  id="PDF" title="PDF" src="/pdf/QD-C4-P02-ME01-AV08.pdf" frameborder="1" scrolling="auto" height="800" width="100%"></iframe>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btnCerrar"
                data-dismiss="modal">Cerrar</button>
        </div>
        <input type="text" class="form-control" name="midplan" id="midplan" aria-describedby="helpId"
            value="" hidden>
        </form>

    </div>
</div>
</div>

<div class="modal fade bd-example-modal-xl" id="modal3" tabindex="-1" role="dialog"
aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-body">

            <iframe  id="PDF" title="PDF" src="/pdf/QD-C4-P00-ME01.pdf" frameborder="1" scrolling="auto" height="800" width="100%"></iframe>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btnCerrar"
                data-dismiss="modal">Cerrar</button>
        </div>
        <input type="text" class="form-control" name="midplan" id="midplan" aria-describedby="helpId"
            value="" hidden>
        </form>

    </div>
</div>
</div>

<div class="modal fade bd-example-modal-xl" id="modal4" tabindex="-1" role="dialog"
aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-body">

            <iframe  id="PDF" title="PDF" src="/pdf/QD-C4-P00-ME02.pdf" frameborder="1" scrolling="auto" height="800" width="100%"></iframe>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btnCerrar"
                data-dismiss="modal">Cerrar</button>
        </div>
        <input type="text" class="form-control" name="midplan" id="midplan" aria-describedby="helpId"
            value="" hidden>
        </form>

    </div>
</div>
</div>

<div class="modal fade bd-example-modal-xl" id="modal5" tabindex="-1" role="dialog"
aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-body">

            <iframe  id="PDF" title="PDF" src="/pdf/QD-C4-P00-ME03.pdf" frameborder="1" scrolling="auto" height="800" width="100%"></iframe>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btnCerrar"
                data-dismiss="modal">Cerrar</button>
        </div>
        <input type="text" class="form-control" name="midplan" id="midplan" aria-describedby="helpId"
            value="" hidden>
        </form>

    </div>
</div>
</div>

