    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading bg-success text-white" ><span class="fas fa-car"></span> Tristone Flowtech </div>
        <div class="list-group list-group-flush">
          <a href="/" class="list-group-item list-group-item-action bg-light"><span class="icoSidebar fas fa-tachometer-alt"></span>  Dashboard</a>
          <a href="/login/crear_equipo" class="list-group-item list-group-item-action bg-light"><span class="icoSidebar fas fa-plus-circle"></span> Nuevo Mandril</a>
          <a href="/login/movimiento" class="list-group-item list-group-item-action bg-light"><span class="icoSidebar fas fa-exchange-alt"></span>  Entrada / Salida</a>
          <a href="/login/entrada_cedula" class="list-group-item list-group-item-action bg-light"><span class="icoSidebar fas fa-people-carry"></span>  Manejo Cedula</a>
          <!-- <a href="/login/reubicar" class="list-group-item list-group-item-action bg-light"><span class="icoSidebar fas fa-people-carry"></span>  Reubicar Gages</a> -->
          <a href="/mandriles" class="list-group-item list-group-item-action bg-light"><span class="icoSidebar fas fa-table"></span>  Inventario de Mandriles</a>
          <a href="/login/verificacion" class="list-group-item list-group-item-action bg-light"><span class="icoSidebar fas fa-screwdriver"></span>  Mantenimientos</a>
          <a href="/login/reporte" class="list-group-item list-group-item-action bg-light"><span class="icoSidebar fas fa-chart-pie"></span>  Reporte</a>
          <!-- <a href="/equipo" class="list-group-item list-group-item-action bg-light"><span class="icoSidebar fas fa-list-alt"></span>  Todos</a> -->
          <a href="http://10.56.99.21:9675/portal/portal-login" target="_blank" class="list-group-item list-group-item-action bg-light"><span class="icoSidebar fas fa-ticket-alt"></span> Soporte</a>
          
        </div>
      </div>
      <!-- /#sidebar-wrapper -->